In [2]:
Fibonacci <- numeric(10)
Fibonacci[1] <- Fibonacci[2] <- 1
for (i in 3:10) Fibonacci[i] <- Fibonacci[i - 2] + Fibonacci[i - 1]
print("Ten Fibonacci Number = ")
print(Fibonacci)

[1] "Ten Fibonacci Number = "
 [1]  1  1  2  3  5  8 13 21 34 55

# Factor in R: Categorical Variable & Continuous Variables

### What is Factor in R?
Factor in R is a variable used to categorize and store the data, having a limited number of different values. It stores the data as a vector of integer values. Factor in R is also known as a categorical variable that stores both string and integer data values as levels. Factor is mostly used in Statistical Modeling and exploratory data analysis with R.

In [3]:
# Create gender vector
gender_vector <- c("Male", "Female", "Female", "Male", "Male")
class(gender_vector)
# Convert gender_vector to a factor
factor_gender_vector <-factor(gender_vector)
class(factor_gender_vector)

[1] "character"

[1] "factor"

In [4]:
print(factor_gender_vector)

[1] Male   Female Female Male   Male
Levels: Female Male

the lowest to the highest with order = TRUE and highest to lowest with order = FALSE

In [5]:
day_vector <- c('evening', 'morning', 'afternoon', 'midday', 'midnight', 'evening')
# Convert `day_vector` to a factor with ordered level
factor_day <- factor(day_vector, order = TRUE, levels =c('morning', 'midday', 'afternoon', 'evening', 'midnight'))
# Print the new variable
factor_day

[1] evening   morning   afternoon midday    midnight  evening
Levels: morning < midday < afternoon < evening < midnight

In [6]:
summary(factor_day)

  morning    midday afternoon   evening  midnight
        1         1         1         2         1

#### Write a R program to find the levels of factor of a given vector

In [7]:
v = c(1, 2, 3, 3, 4, NA, 3, 2, 4, 5, NA, 5)
print("Original vector:")
print(v)
print("Levels of factor of the said vector:")
print(levels(factor(v)))

[1] "Original vector:"
 [1]  1  2  3  3  4 NA  3  2  4  5 NA  5
[1] "Levels of factor of the said vector:"
[1] "1" "2" "3" "4" "5"

#### Write a R program to change the first level of a factor with another level of a given factor

In [8]:
v = c("a", "b", "a", "c", "b")
print("Original vector:")
print(v)
f = factor(v)
print("Factor of the said vector:")
print(f)
levels(f)[1] = "e"
print(f)

[1] "Original vector:"
[1] "a" "b" "a" "c" "b"
[1] "Factor of the said vector:"
[1] a b a c b
Levels: a b c
[1] e b e c b
Levels: e b c

#### Write a R program to create an ordered factor from data consisting of the names of months

In [9]:
mons_v = c("March","April","January","November","January",
"September","October","September","November","August","February",
"January","November","November","February","May","August","February",
"July","December","August","August","September","November","September",
"February","April")
print("Original vector:")
print(mons_v)
f = factor(mons_v)

[1] "Original vector:"
 [1] "March"     "April"     "January"   "November"  "January"   "September"
 [7] "October"   "September" "November"  "August"    "February"  "January"
[13] "November"  "November"  "February"  "May"       "August"    "February"
[19] "July"      "December"  "August"    "August"    "September" "November"
[25] "September" "February"  "April"

In [10]:
print("Ordered factors of the said vector:")
print("----------------------------------")
print(f)

[1] "Ordered factors of the said vector:"
[1] "----------------------------------"
 [1] March     April     January   November  January   September October
 [8] September November  August    February  January   November  November
[15] February  May       August    February  July      December  August
[22] August    September November  September February  April
11 Levels: April August December February January July March May ... September

#### Write a R program to concatenate two given factor in a single factor.

 **replace=TRUE** makes sure that no element occurs twice.

In [11]:
f1 <- factor(sample(LETTERS, size=6, replace=TRUE))
f2 <- factor(sample(LETTERS, size=6, replace=TRUE))
print("Original factors:")
print(f1)
print(f2)
f = factor(c(levels(f1)[f1], levels(f2)[f2]))
print("After concatenate factor becomes:")

[1] "Original factors:"
[1] E W N U O O
Levels: E N O U W
[1] K W E G D J
Levels: D E G J K W
[1] "After concatenate factor becomes:"

In [12]:
print(f)

 [1] E W N U O O K W E G D J
Levels: D E G J K N O U W

#### Write a R program to convert a given pH levels of soil to an ordered factor

In [13]:
ph = c(1,3,10,7,5,4,3,7,8,7,5,3,10,10,7)
print("Original data:")
print(ph)
ph_f = factor(ph,levels=c(3,7,10),ordered=TRUE)
print("pH levels of soil to an ordered factor:")
print(ph_f)

[1] "Original data:"
 [1]  1  3 10  7  5  4  3  7  8  7  5  3 10 10  7
[1] "pH levels of soil to an ordered factor:"
 [1] <NA> 3    10   7    <NA> <NA> 3    7    <NA> 7    <NA> 3    10   10   7
Levels: 3 < 7 < 10

### Counting

A common data manipulation task in R involves merging two data frames together. One of the simplest ways to do this is with the **cbind function.** The cbind function – short for column bind – is a merge function that can be used to combine two data frames with the same number of multiple rows into a single data frame

In [14]:
bevs <- data.frame(cbind(name = c("Bill", "Llib"), 
                         drink = c("coffee", "tea", "cocoa", "water"),
                         cost = seq(1:8)))
bevs$cost <- as.integer(bevs$cost)

**as.integer** for object of class truncates decimal part of image values and then converts to type integer.

In [15]:
bevs

  name drink  cost
1 Bill coffee 1
2 Llib tea    2
3 Bill cocoa  3
4 Llib water  4
5 Bill coffee 5
6 Llib tea    6
7 Bill cocoa  7
8 Llib water  8

In [16]:
library(plyr)

Count the number of occurences.

In [17]:
count(bevs,"name")

  name freq
1 Bill 4
2 Llib 4

In [18]:
count(bevs,c("name","drink"))

  name drink  freq
1 Bill cocoa  2
2 Bill coffee 2
3 Llib tea    2
4 Llib water  2

In [19]:
cars <- data.frame(cbind(name = c("BMW","AUDI","MERCIDES","HONDA"),
                        model = c(2000,2003,2004,2005),
                        gear = c(3,4,5,6),
                        cyl = c(4,6,6,4),
                        freq = c(3,4,5,6)))

In [20]:
cars$gear <- as.integer(cars$gear)

In [21]:
cars$cyl <- as.integer(cars$cyl)
cars$freq <- as.integer(cars$freq)

In [22]:
x = count(cars,c('cyl','gear'))

Using freq as weighting variable

In [23]:
x

  cyl gear freq
1 1   1    1
2 1   4    4
3 2   2    2
4 2   3    3

Alternatively, you can use the count() function in the “plyr” package to get the same frequencies in a list format.

### Frequency Table

In [24]:
head(subset(cars, select = 'gear'))

  gear
1 1
2 2
3 3
4 4

We can use the **subset()** function to restrict the data set to show just the row names and “gear”

In [25]:
mydata <- data.frame(cbind(gender = c("Man" ,"Man", "Man" ,"Man" ),
                          Language = c("HTML/CSS;Java;JavaScript;Python", "C++;HTML/CSS;Python", "HTML/CSS", "C;C++;C#;Python;SQL"),
                          Hobbyist = c("Yes","No","Yes" ,"No" ),
                          Langgroup = c("Python" ,"Python", "Neither", "Python")))

In [26]:
mydata

  gender Language                        Hobbyist Langgroup
1 Man    HTML/CSS;Java;JavaScript;Python Yes      Python
2 Man    C++;HTML/CSS;Python             No       Python
3 Man    HTML/CSS                        Yes      Neither
4 Man    C;C++;C#;Python;SQL             No       Python

In [27]:
count(mydata,c('gender','Hobbyist'))

  gender Hobbyist freq
1 Man    No       2
2 Man    Yes      2

In [28]:
subset(mydata,select = "Language")

  Language
1 HTML/CSS;Java;JavaScript;Python
2 C++;HTML/CSS;Python
3 HTML/CSS
4 C;C++;C#;Python;SQL

In [29]:
subset(mydata,select = "gender")

  gender
1 Man
2 Man
3 Man
4 Man

In [ ]:
install.packages("CGPfunctions")

also installing the dependencies 'processx', 'rprojroot', 'pkgbuild', 'diffobj', 'brio', 'callr', 'cli', 'desc', 'ellipsis', 'pkgload', 'praise', 'ps', 'waldo', 'withr', 'pillar', 'elliptic', 'contfrac', 'deSolve', 'rootSolve', 'e1071', 'lmom', 'testthat', 'rlang', 'glue', 'tibble', 'tidyselect', 'vctrs', 'estimability', 'minqa', 'nloptr', 'statmod', 'coda', 'pbapply', 'mvtnorm', 'MatrixModels', 'hypergeo', 'RcppEigen', 'expm', 'Exact', 'gld', 'productplots', 'isoband', 'prismatic', 'rematch2', 'libcoin', 'Formula', 'inum', 'farver', 'lifecycle', 'bayestestR', 'dplyr', 'effectsize', 'emmeans', 'insight', 'lme4', 'parameters', 'performance', 'sjlabelled', 'sjmisc', 'BayesFactor', 'DescTools', 'ggmosaic', 'ggplot2', 'ggrepel', 'paletteer', 'partykit', 'scales', 'sjstats'

In [ ]:
library(CGPfunctions)
PlotXTabs(mydata)

In [ ]:
install.packages("vtree")

In [ ]:
library(vtree)
vtree(mydata, "LanguageGroup")

In [ ]:
vtree(mydata, "LanguageGroup", palette = 3, sortfill = TRUE)

In [ ]:
vtree(mydata, c("LanguageGroup", "Gender"), 
   fillcolor = c( LanguageGroup = "#e7d4e8", Gender = "#99d8c9"),
   horiz = FALSE)

In [ ]:
my_data <- data.frame(cbind(gender = c("Man","Man","Man","Man","Man","Woman","Woman","Woman","Man","Woman","Man","Woman","Man","Woman","Woman","Woman"),
                           LanguageGroup = c("Neither","Python","Neither","Python","Both","Neither","Neither","Python","R","Python","Both","Both","R","Both","R","R"),
                           Hobbyist = c("Yes","Yes","No","No","Yes","Yes","No","Yes","Yes","No","No","Yes","No","No","Yes","No"),
                           n = c(43432,43421,456,32276,46743,6763,6731,67831,1002,1004,320,120,450,3420,190,150)))

In [ ]:
library(ggplot2)
ggplot(my_data,aes(LanguageGroup,n,fill = Hobbyist))+
geom_bar(stat = "identity")+
facet_wrap(facets = var(Gender))

# Easy multi-panel plots in R using facet_wrap() and facet_grid() from ggplot2

In [ ]:
library("IRdisplay")
display_png(file='Capture.PNG',width = 700,height=200)

One of the most powerful aspects of the R plotting package ggplot2 is the ease with which you can create multi-panel plots. With a single function you can split a single plot into many related plots using facet_wrap() or facet_grid().

Although creating multi-panel plots with ggplot2 is easy, understanding the difference between methods and some details about the arguments will help you make more effective plots.

In [ ]:
library(ggplot2)
library(dplyr)

In [ ]:
marvel <- readr::read_csv('marvel-wikia-data.csv')

In [ ]:
head(marvel)

In [ ]:
marvel <- filter(marvel,SEX !="",ALIGN!= "",Year !="")%>%
filter(!is.na(APPEARANCES),APPEARANCES >100) %>%
mutate(SEX = stringr ::str_replace(SEX,"Characters",""))%>%
arrange(desc(APPEARANCES))%>%
rename(gender = SEX)%>%
rename_all(tolower)

In [ ]:
head(marvel)

number of character appearances by year

In [ ]:
marvel_count <- count(marvel,year)
glimpse(marvel_count)

glimpse() is like a transposed version of print() : columns run down the page, and data runs across. This makes it possible to see every column in a data frame.

In [ ]:
ggplot(data = marvel_count,aes(year,n))+
geom_line(color = "steelblue",size=1)+
geom_point(color = "steelblue")+
labs(title="New Marvel Characters By Year",
    subtitle="(limited to characters with more than 100 apperances)",
    y = 'Count of new characters' ,x= '')

Our first multi-panel plot: counts of appearance of “good” and “bad” characters with facet_wrap()

In [ ]:
marvel_count <- count(marvel,year,align)
glimpse(marvel_count)

By simply adding + facet_wrap(~ align) to the end of our plot from above we can create a multi-panel plot with one pane per “alignment”

In [ ]:
ggplot(data = marvel_count, aes(year, n)) +
  geom_line(color = "steelblue", size = 1) +
  geom_point(color="steelblue") + 
  labs(title = "New Marvel characters by alignment",
       subtitle = "(limited to characters with more than 100 appearances)",
       y = "Count of new characters", x = "") + 
  facet_wrap(~ align)

# Mutate Function in R

In [ ]:
library("IRdisplay")
display_png(file='c1.PNG',width = 600,height=200)

In [ ]:
install.packages("ISLR")

ISLR Is a library contain several dataset

In [ ]:
library(ISLR)

In [ ]:
print(Auto)

 tibbles actually are dataframes, but they are modified dataframes.

In [ ]:
library(dplyr)

In [ ]:
library(tidyverse)

In [ ]:
auto_specs <- as.tibble(Auto)

In [ ]:
print(auto_specs)

In [ ]:
auto_specs_new <- mutate(auto_specs, hp_to_weight = horsepower / weight)

print(auto_specs_new)

In [ ]:
head(auto_specs_new)

In [ ]:
colnames(auto_specs)

In [ ]:
mutate(auto_specs, hp_to_weight = horsepower / weight)
colnames(auto_specs)